body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    background: #e6e7e8;
}

header {
    background: #e6e7e8;
    overflow: auto;
}

header #logo {
    float: left;
    height: 20%;
}

#profile_field {
    width: 130px;
    float: right;
    padding: 5px;
    text-align: center;
    color: #6d6e70;
}

#profile_field a {
    width: 100%;
    display: block;
    color: #6d6e70;
    margin-bottom: 5px;
}

#profile_field #profile_link {
    font-size: large;
    text-decoration: none;
}

#profile_field #profile_link img {
    width: 100%;
    margin-bottom: 5px;
}

#profile_field #messages {
    width: 100%;
    display: block;
}

#profile_field #messages #messages_amount_number {
    background: #66bc45;
}

#profile_field #messages img {
    float: left;
    width: 30%;
}

#profile_field #messages div {
    float: right;
    color: white;
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 5px;
}

#profile_field #logout {
    float: left;
    border: #6d6e70 solid 1px;
    border-radius: 5px;
    text-decoration: none;
}

nav {
    width: 100%;
    background: linear-gradient(#66bc45, #38b449);
    overflow: auto;
    box-shadow: 0px 1px grey;
}

nav ul {
    width: 50%;
    margin:auto;
}

nav ul li {
    width: 25%;
    float: left;
    height: 50px;
}

nav ul li a {
    text-decoration: none;
    color:  white;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: x-large;
}

nav ul li a:hover {
    background: #38b449;
}

.errors {
    background: #ff8484;
    padding: 10px;
    border: solid 1px #d62728;
    border-radius: 5px;
    font-size: medium;
    color: #000;
    margin-bottom: 10px;
}

.errors ul {
    list-style: inside;
}